<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - physiotherapy</title>
    <!-- Favicons -->
    <link href="~/img/favicon-32x32.png" rel="icon">
    <link href="~/img/apple-touch-icon HP.png" rel="icon">

    @*menu js*@
    <link href="~/mmenu/demo/css/demo.css" rel="stylesheet" />
    <link href="~/mmenu/dist/mmenu.css" rel="stylesheet" />
    <link href="~/mmenu/dist/extensions/themes/mmenu.themes.css" rel="stylesheet" />
    <link href="~/mmenu/dist/addons/navbars/mmenu.navbars.css" rel="stylesheet" />
    @*<link href="~/mmenu/dist/addons/iconbar/mmenu.iconbar.css" rel="stylesheet" />*@
    @*<link href="~/mmenu/dist/addons/iconpanels/mmenu.iconpanels.css" rel="stylesheet" />*@


    <!-- Google Fonts -->
    <link href="~/font.css" rel="stylesheet" />

    <!--Panel-->
    <link href="~/Panel.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link asp-append-version="true" rel="stylesheet" href="~/lib/angular-confirm/css/angular-confirm.css" />

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" />


    <!--for login-->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/imagesLogin/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/loginVendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fontsLogin/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fontsLogin/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/loginVendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/loginVendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/loginVendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/loginVendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/loginVendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/logincss/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/logincss/main.css">
    <!--===============================================================================================-->
    <!--Added DataTabbleJsFiles-->
    <link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.11.3/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/Buttons-2.2.1/css/buttons.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/ColReorder-1.5.5/css/colReorder.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/FixedColumns-4.0.1/css/fixedColumns.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/FixedHeader-3.2.1/css/fixedHeader.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/KeyTable-2.6.4/css/keyTable.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/Scroller-2.0.5/css/scroller.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/SearchBuilder-1.3.0/css/searchBuilder.dataTables.css" />





    <script src="~/mmenu/dist/mmenu.js"></script>
    <script>
        document.addEventListener(
            "DOMContentLoaded", () => {
                new Mmenu("#menu", {
                    "slidingSubmenus": false,

                    "extensions": ["theme-white"],
                    counters: true,
                    setSelected: true,
                    sidebar: {
                        collapsed: {
                            use: '(min-width: 50px)',
                            size: 40,
                            hideNavbar: true
                        },
                        expanded: {
                            use: false,
                            size: 25
                        }
                    },
                    //searchfield: {
                    //    placeholder: 'Search menu items'
                    //},
                    //sidebar: {
                    //    collapsed: {
                    //        use: "(min-width: 550px)",

                    //    },
                    //    expanded: {
                    //        use: "(min-width: 550px)",
                    //        initial: "closed"
                    //    }
                    //},
                    "navbars": [
                        //{
                        //    content: ['searchfield']
                        //},
                        {
                            "position": "bottom",
                            "content": [
                                "<a  href='#/'>Privacy</a>",
                                "<a  href='#/'>Terms of Services</a>",

                            ]
                        }
                    ]



                });
            }
        );
    </script>

    <script>
        new Mmenu(document.querySelector("#menu"));
        document.addEventListener("click", function (evnt) {
            var anchor = evnt.target.closest('a[href="#/"]');
            if (anchor) {
                alert("Thank you for clicking, but that's a demo link.");
                evnt.preventDefault();
            }
        });
    </script>

    <script src="~/mmenu/dist/addons/navbars/mmenu.navbars.js"></script>
    <script src="~/mmenu/dist/addons/sidebar/mmenu.sidebar.js"></script>
    <script src="~/mmenu/dist/addons/sidebar/options.js"></script>

    @*<style>
                :root {
                    --mm-sidebar-expanded-size: 300px;
                }
                .mm-wrapper--sidebar-expanded.mm-wrapper--opened #header a {
                    display: none;
                }
                .mm-navbar--tabs span {
                    display: inline-block;
                    margin-left: 8px;
                }
        </style>*@
    <style>

    .fa {
        font-size: 25px;
        text-align: center;
        line-height: 25px;
        width: 40px;
        margin-right: 40px;
        float: left;
        color: #1977cc;
    }
        .modal-backdrop {
            z-index: -1;
        }

        .fade.show {
            background: rgb(0 0 0 / 30%);
        }
    </style>
</head>

<body ng-app="startapp">

    <div id="page">
        <div id="header">
            <a href="#menu" onclick="myFunction()"><span></span></a>

            <img src="~/img/logo.png" style='height: 100%; width: 100%; object-fit: contain' />

        </div>
        <div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
        <partial name="_menuPartial" />
    </div>



    <!--<header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <!-- Uncomment below if you prefer to use an image logo -->
    <!--<a asp-controller="Home" asp-action="Index" class="logo me-auto"><img src="~/img/logo.png" alt="" class="img-fluid"></a>-->
    @*<nav id="navbar" class="navbar order-last order-lg-0">
            <ul>

                <li><a class="nav-link scrollto" asp-controller="Appointment" asp-action="Index">Book Apoointment</a></li>
                <li class="dropdown">
                    <a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Dropdown1">Physiotherapist</a></li>
                        <li><a asp-controller="Home" asp-action=Dropdown2>Symptoms</a></li>

                    </ul>
                </li>
            </ul>

            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>*@<!----><!-- .navbar -->
    <!--<partial name="_LoginPartialCustom" />-->
    @*<a asp-controller="account" asp-action="login" class="appointment-btn scrollto">login</a>*@
    @*<a asp-controller="account" asp-action="register" class="appointment-btn scrollto">register</a>*@

    @*</div>
        </header>-->*@<!-- End Header -->
    @*<div class="container" id="pages-content" style="margin-top:70px">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@


    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/purecounter/purecounter.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="~/js/main.js" asp-append-version="true"></script>

    @*for login
        ===============================================================================================*@
    <script src="~/vendor/loginVendor/jquery/jquery-3.2.1.min.js"></script>
    @*===============================================================================================*@
    <script src="~/vendor/loginVendor/animsition/js/animsition.min.js"></script>
    @* ===============================================================================================*@
    <script src="~/vendor/loginVendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/loginVendor/bootstrap/js/bootstrap.min.js"></script>
    @* ===============================================================================================*@
    <script src="~/vendor/loginVendor/select2/select2.min.js"></script>
    @* ===============================================================================================*@
    <script src="~/vendor/loginVendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/loginVendor/daterangepicker/daterangepicker.js"></script>
    @* ===============================================================================================*@
    <script src="~/vendor/loginVendor/countdowntime/countdowntime.js"></script>
    @*===============================================================================================*@
    <script src="~/js/loginjs/main.js"></script>
    @*Added DataTAble scripts*@
    <script type="text/javascript" src="~/DataTables/JSZip-2.5.0/jszip.js"></script>
    <script type="text/javascript" src="~/DataTables/pdfmake-0.1.36/pdfmake.js"></script>
    <script type="text/javascript" src="~/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/DataTables/DataTables-1.11.3/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/DataTables/Buttons-2.2.1/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="~/DataTables/Buttons-2.2.1/js/buttons.html5.js"></script>
    <script type="text/javascript" src="~/DataTables/Buttons-2.2.1/js/buttons.print.js"></script>
    <script type="text/javascript" src="~/DataTables/ColReorder-1.5.5/js/dataTables.colReorder.js"></script>
    <script type="text/javascript" src="~/DataTables/FixedColumns-4.0.1/js/dataTables.fixedColumns.js"></script>
    <script type="text/javascript" src="~/DataTables/FixedHeader-3.2.1/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="~/DataTables/KeyTable-2.6.4/js/dataTables.keyTable.js"></script>
    <script type="text/javascript" src="~/DataTables/Scroller-2.0.5/js/dataTables.scroller.js"></script>
    <script type="text/javascript" src="~/DataTables/SearchBuilder-1.3.0/js/dataTables.searchBuilder.js"></script>

    <script src="~/js/angular.min.js"></script>
    @*file upload*@
    <script src="~/lib/angular/file/ng-file-upload.js" asp-append-version="true"></script>
    <script src="~/lib/angular/file/ng-file-upload-shim.js" asp-append-version="true"></script>
    <script src="~/lib/lobibox/lobibox.min.js" asp-append-version="true"></script>
    <script src="~/lib/angular-confirm/dist/angular-confirm.min.js" asp-append-version="true"></script>

    <script src="~/AngularServices/Main.js" asp-append-version="true"></script>

    @*ladda spinner*@
    @*<script src="~/lib/ladda/dist/spin.min.js" asp-append-version="true"></script>
        <script src="~/lib/ladda/dist/ladda.min.js" asp-append-version="true"></script>
        <script src="~/lib/ladda-angular/dist/angular-ladda.js" asp-append-version="true"></script>*@



    <script>
                            //function messageBox(type, message) {
                            //    Lobibox.notify(type, {
                            //        pauseDelayOnHover: true,
                            //        continueDelayOnInactiveTab: false,
                            //        msg: message,
                            //        width: 550,
                            //        closeOnClick: true,
                            //        //iconSource: 'fontAwesome',
                            //        delay: 20000 //In milliseconds

                            //    });
                            //}
                            //function messageBoxStay(type, message) {
                            //    Lobibox.notify(type, {
                            //        msg: message,
                            //        width: 550,
                            //        closeOnClick: true,
                            //        closeButton: true,
                            //        //iconSource: 'fontAwesome',
                            //        closeOnEsc: true,
                            //        delay: false
                            //    });
                            //}
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
