@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        @*<li class="nav-item">
            <a class="nav-link" href="#">Hello @UserManager.GetUserName(User) </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                <button type="submit" class="btn nav-link">LogOut</button>
            </form>
        </li>*@
        <a asp-controller="Home" asp-action="Profile_Page" class="appointment-btn scrollto">Hello @UserManager.GetUserName(User)</a>

        <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
            <button type="submit" class="btn nav-link btn-primary ">LogOut</button>
        </form>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
            </li>*@
        <a asp-controller="Account" asp-action="Login" class="appointment-btn scrollto">Login</a>

        <a asp-controller="Account" asp-action="Register" class="appointment-btn scrollto">Register</a>

    }