<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - physiotherapy</title>
    <!-- Favicons -->
    <link href="~/img/favicon-32x32.png" rel="icon">
    <link href="~/img/apple-touch-icon HP.png" rel="icon">

    <link href="~/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="~/font.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">


    <!--for login-->
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="imagesLogin/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/loginVendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fontsLogin/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fontsLogin/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/loginVendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/loginVendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/loginVendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/loginVendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/loginVendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/logincss/util.css">
    <link rel="stylesheet" type="text/css" href="css/logincss/main.css">
    <!--===============================================================================================-->
    <!--=============================== LEAFLET ===================================-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <style>
        #map {
            width: 600px;
            height: 400px;
        }
    </style>
</head>

<body>


    <!-- ======= Header ======= -->
    <div class="container" id="pages-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- ======= Footer ======= -->

    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/purecounter/purecounter.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/main.js"></script>



    <!--for login-->
    <!--===============================================================================================-->
    <script src="vendor/loginVendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/loginVendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/loginVendor/bootstrap/js/popper.js"></script>
    <script src="vendor/loginVendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/loginVendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/loginVendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/loginVendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/loginVendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/loginjs/main.js"></script>

    <!--leafletjs-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="~/Leaftlet/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
