@model HomePhysio.ViewModel.LoginViewModel
@{ Layout = null;}
    <link href="~/css/logincss/util.css" rel="stylesheet" />
    <link href="~/css/logincss/main.css" rel="stylesheet" />
    <link href="~/fontsLogin/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/fontsLogin/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" />

    <body style="background-color: #666666;">
        @*<h1 class="text-info">Log in</h1>*@
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    
                        <form asp-controller="Home" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="login100-form validate-form">
                            <span class="login100-form-title p-b-43">
                                Login
                            </span>

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                                    <input asp-for="Email" class="input100 form-control" type="text" name="email">

                                    <span class="focus-input100"></span>
                                    <span class="label-input100">Email</span>

                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>

                                <div class="wrap-input100 validate-input" data-validate="Password is required">
                                    <input class="input100 form-control" type="password" name="pass">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <span class="focus-input100"></span>
                                    <span class="label-input100">Password</span>
                                </div>


                            </div>

                            @*<label asp-for="Email" class="col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>*@
                            <div class="flex-sb-m w-full p-t-3 p-b-32">
                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1" asp-for="RememberMe">
                                        @*<input  class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" asp-for="RememberMe" />*@
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>

                                <div>
                                    @*<a href="#" class="txt1">
                        Forgot Password?
                    </a>*@
                                    <a asp-action="ForgotPassword">Forgot your password?</a>
                                </div>
                            </div>
                            @*<div class="form-group">
                <div class="col-md-10">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>*@
                            <div class="container-login100-form-btn">
                                <button type="submit" class="btn btn-success form-control login100-form-btn">
                                    Login
                                </button>
                            </div>

                            @*<div class="form-group">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success form-control">Log in</button>
            </div>*@

                            <p>
                                <a asp-action="Register">Register as a new user?</a>
                            </p>
                            @*<p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
            </p>*@
                        </form>
                        <div class="login100-more" style="background-image: url(@Url.Content("~/imagesLogin/istockphoto.jpg"));"></div>
                    </div>
                 

             </div>
        </div>
                <script src="~/js/loginjs/main.js"></script>
    </body>

    @section scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
