@model HomePhysio.ViewModel.RegisterPhysioViewModel
<h1 class="text-info">RegisterPhysio</h1>
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="RegisterPhysio" method="post" role="form">
            <h4>Create a new account</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <input id="latitude" type="text" asp-for="Latitude" class="form-control" hidden />
                    <input id="longitude" type="text" asp-for="Longitude" class="form-control" hidden />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="age" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="age" class="form-control" />
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="GenderId" class="col-md-2"></label>
                <div class="col-md-10">
                    <select asp-for="GenderId" class="form-control" asp-items="@ViewBag.Gender"></select>
                    <span asp-validation-for="GenderId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ContactNo" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="ContactNo" class="form-control" />
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CitizenshipNumber" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="CitizenshipNumber" class="form-control" />
                    <span asp-validation-for="CitizenshipNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LicenseNo" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="LicenseNo" class="form-control" />
                    <span asp-validation-for="LicenseNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Qualification" class="form-control" />
                    <span asp-validation-for="Qualification" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Experience" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Experience" class="form-control" />
                    <span asp-validation-for="Experience" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success form-control">Register</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <strong>Please place the marker in your currrent location!</strong>
        <button onclick="getLocation()">Marker Please</button>
        <p id="demo" hidden></p>
        <div id="map"></div>
    </div>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
