@model HomePhysio.Models.PhysioCategoryModel

@{
    ViewData["Title"] = "Edit";
}

<div class="bg-primary" style="height:50px"><h3 class="text-white" style="padding:10px"><strong>Edit Your @Model.Category.Name experience</strong></h3></div>


<br />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           
            @*<div class="form-group">
                <label asp-for="CategoryId" class="control-label"><strong class="text-primary">Specialization</strong></label>
                <select asp-items="@ViewBag.Category" asp-for="CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Experience" class="control-label"><strong class="text-primary">Write Your Experience</strong></label>

                <input asp-for="Experience" type="Text" class="form-control" />

                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
        @*<div class="col-md-6">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div >
                    <label asp-for="Experience" class="control-label"><strong class="text-primary">Experience</strong></label>
                    <input type="number" id="Experience" class="btn-secondary" asp-for="Experience" />
                
                </div>
            </form>
        </div>*@
</div>

<div>
    <a asp-action="Index" class="text-primary"><strong>Back to List</strong></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
