
@{
    ViewData["Title"] = "About";
}

<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                <a href="https://www.youtube.com/watch?v=5bEhT9x8WQ8" class="glightbox play-btn mb-4"></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3>About Us</h3>
                <p>With the advent of the internet and technologies in our country, there have been numerous advancements in terms of arranging appointments for doctors in hospitals, but there are no efficient home visit services for Physiotherapy available as of yet. As physiotherapy treatment is most efficient on physical interaction, home visit services will be more beneficial. Despite the fact that many people require physiotherapy, our country still lacks efficient physiotherapy facilities.</p>
                <p>“Home Physio” is Nepal’s most efficient Delivery Network for Physiotherapy services. Here, we are committed to increase access to quality physio care through highly-skilled practitioners. Our multi-therapy approach helps keep a strong focus on patient needs and deliver the highest level of patient centric care with better outcomes.. We want to help people who can't get to the hospital because of their injuries or medical disabilities, as well as elderly people, infants, and pregnant women. We aim to assist people of all ages seeking relief from pain related to back, knee, neck, etc. and also get support in the related problems that occur due to certain kind of diseases like Paralysis, Parkinson’s, Stroke. This service will not only be beneficial for the patients but also will economically benefit the physiotherapist as they can work as they can work according to their own set schedule without interference from others. In this way, we will be able to utilize the manpower existing in the country in the best possible way so that their knowledge and experience is well mobilized.</p>
                <p>We work with you through your healing from start to finish providing a robust program involving combination of multiple therapies. Also, after treatment is over, we provide support / guidance to prevent injury from repeating / pain from returning. The happiness on our patient’s faces is what keeps us going.</p>

                <br />
                <br />
                <h3>Why choose Home Physio</h3>
                <h4>..Because Care Begins at Home..</h4>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-person-badge"></i></div>
                    <h4 class="title"><a href="">+100 Physiotherapists</a></h4>
                    <p class="description">Home Physio has a strong network of over 100 physiotherapists enrolled through a structured empanelment criterion.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-calendar-date"></i></div>
                    <h4 class="title"><a href="">Treatment Schedulling</a></h4>
                    <p class="description">Instant confirmation  of home visit within 30 mins. We try our best to not change a physio for ongoing treatments.</p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-headset"></i></div>
                    <h4 class="title"><a href="">Always Listening</a></h4>
                    <p class="description">Continuous monitoring of treatment progress with help of feedbacks. Pro-active grievance redressal to ensure a smooth path to your recovery. </p>
                </div>

                <div class="icon-box">
                    <div class="icon"><i class="bi bi-credit-card"></i></div>
                    <h4 class="title"><a href="">Payments</a></h4>
                    <p class="description">Transparent Pricing with friendly packages for long term treatments. Option to pay through cash, card or online withinsurance re-imbursement friendly billing.</p>
                </div>

            </div>
        </div>

    </div>
</section><!-- End About Section -->
