
@{
    ViewData["Title"] = "Dropdown2";
}
<br />


<head>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <h1 class="text-primary">Check your health concerns</h1>
    <br />
    <div class="container">
        <h3>Orthopedic Physiotherapy</h3>
        <div class="card-deck">
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/hand.jpg" alt="hand" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Wrist pain</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/kneepain.jpg" alt="knee" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Knee pain</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/neckpain.png" alt="neck" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Neck pain</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/shoulderpain.png" alt="shoulder" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Shoulder pain</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/elbow.png" alt="elbow" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Elbow pain</h5>
                </div>
            </div>
        </div>


    </div>

    <br />
    <div class="container">
        <h3>Women's Health Physiotherapy</h3>
        <div class="card-deck">
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/postsurgery.jpg" alt="pregnancy" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Pre & Post Natal</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/pop.jpg" alt="copd" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Pelvic Organ Prolapse</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/Fibrosis.png" alt="fibrosis" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Fibrosis</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/urination.png" alt="Urination" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Frequent Urination</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/constipation.png" alt="Constipation" height="200" /></a>
                <div class="card-body text-primary">
                    <h5 class="card-title"> Constipation</h5>
                </div>
            </div>
        </div>
    </div>

    <br />


    <div class="container">
        <h3>Neurological Physiotherapy</h3>
        <div class="card-deck">
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/numbness.jpg" alt="numbness" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Numbness and tingling</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/brainstoke.jpg" alt="brain stroke" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Brain Stroke</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/parkinson.gif" alt="Parkinson" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Parkinson's Disease</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/spinal injury.jpg" alt="Spine Injury" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Spinal Injury</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/coma.gif" alt="Coma" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Coma</h5>
                </div>
            </div>
        </div>

    </div>



    <div class="container">
        <h3>Pediatric Physiotherapy</h3>
        <div class="card-deck">
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/downsyndrome.png" alt="downsyndrome" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Down Syndrome</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/hypotonia.jpg" alt="Hypotonia" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Hypotonia</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/spina-bifida.jpg" alt="spina-bifida" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Spina Bifida</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/torticollis.png" alt="torticollis" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Torticollis</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/grossmotordelay.jpg" alt="grossmotordelay" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Gross Motor Delay</h5>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <h3>Geriatric Physiotherapy</h3>
        <div class="card-deck">
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/weakness.jpg"  alt="weakness" height="200" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Weakness</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/jointpain.jpg" alt="jointpainr" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Joint Pain</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/arthritis.png" alt="arthritis" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Arthritis</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/balance impairment.png"  alt="balance impairment" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Balance Impairment</h5>
                </div>
            </div>
            <div class="card">
                <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/posturalinatability.png"  alt="posturalinatability" /></a>
                <div class="card-body">
                    <h5 class="card-title text-primary">Postural Inatability</h5>
                </div>
            </div>
        </div>
    </div>


        <div class="container">
            <h3>Sports Physiotherapy</h3>
            <div class="card-deck">
                <div class="card">
                    <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/tenisselbow.jpg" alt="tenisselbow" height="200" /></a>
                    <div class="card-body">
                        <h5 class="card-title text-primary">Tennis Elbow</h5>
                    </div>
                </div>
                <div class="card">
                    <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/ligamenttear.png" alt="ligamenttear" /></a>
                    <div class="card-body">
                        <h5 class="card-title text-primary">Ligament Tear</h5>
                    </div>
                </div>
                <div class="card">
                    <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/musclestrain.jpg" alt="musclestrain" /></a>
                    <div class="card-body">
                        <h5 class="card-title text-primary">Muscle Strain</h5>
                    </div>
                </div>
                <div class="card">
                    <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/Patellofemoral_OA.png" alt="Patellofemoral" /></a>
                    <div class="card-body">
                        <h5 class="card-title text-primary">PFPS</h5>
                    </div>
                </div>
                <div class="card">
                    <a asp-controller="Home" asp-action="Dropdown1"> <img class="card-img-top" src="~/img/Symptoms/achillestendonrupture.jpg" alt="achillestendonrupture" /></a>
                    <div class="card-body">
                        <h5 class="card-title text-primary">Achilles Rupture</h5>
                    </div>
                </div>
            </div>

        </div>


        <script src="~/js/main.js"></script>
</body>

<script src="~/js/main.js"></script>

