@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <h1 class="header-font">Welcome to HomePhysio</h1>
        <h3>Nepal's fastest growing home physiotherapy service provider</h3>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why get Physiotherapy At Home</h3>
                        <p class="text-white font-weight-light">
                            Often Physiotherapy is seen as something that can only be accessed if people can make it to the clinic. Well, that is partly true. However, today, most physiotherapy services can be easily carried out at a person’s home.Our website aims to provide an easy access for home physiotherapy services to our users.


                            <div class="text-center">
                                <a asp-action="LearnMore" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a><!--learn more button-->
                            </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Corporis voluptates sit</h4>
                                    <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Ullamco laboris ladore pan</h4>
                                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Labore consequatur</h4>
                                    <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Process Section ======= -->
    <section id="counts" class="counts">
        <div class="container">
            <div class="section-title">
                <h2>Process</h2>

            </div>
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <h4>Book</h4>
                        <h6>Book a home visit appointment with your prefered therapist.</h6>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <h4>Select time</h4>
                        <h6>Select the time suitable for you and your therapist.</h6>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <h4>Payment</h4>
                        <h6>Pay the bill amount for consultation and distance charges.</h6>
                    </div>
                </div>



                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="fa fa-check-square" aria-hidden="true"></i>
                        <h4>Response</h4>
                        <h6>Our therapist will provide you a response as fast as possible.</h6>
                    </div>
                </div>

                <!--   <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="fa fa-medkit" aria-hidden="true"></i>
                            <h3>Therapy</h3>
                            <h6>Your selected therapist will visit your home for an assessment and initiate the therapy.</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                            <h3>Monitoring</h3>
                            <h6>Our physiotherapist will measures improvement over time and recommends next steps if any.</h6>
                        </div>
                    </div>-->

            </div>

        </div>
    </section><!-- End Process Section -->
    <!-- ======= Package Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Packages</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h3>One week</h3>
                        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h3>Two week</h3>
                        <p>Book a home visit appointment with your prefered therapist.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="icon-box">
                        <div class="icon"><i class="fas fa-hospital-user"></i></div>
                        <h3>Three week</h3>
                        <p>Our therapist will provide you a response as fast as possible.</p>
                    </div>
                </div>




            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- =======About Physiotherapy Section ======= -->
    <section class="departments">
        <div class="container">

            <div class="section-title">
                <h2>About Physiotherapy</h2>

            </div>

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiovascular/Pulmonary Physiotherapy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurological Physiotherapy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Geriatric Physiotherpy </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Pediatric Physiotherapy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Sports Physiotherapy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Orthopedic Physiotherapy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Pre & Post Surgery Rehab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Women's Health</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Cardiovascular/Pulmonary physiotherapy</h3>
                                    <p>Cardiorespiratory physiotherapy is an area of physiotherapy that specialises in the prevention, rehabilitation, and compensation of clients with diseases and injuries in the heart and lungs. These conditions may manifest themselves as shortness of breath, persistent cough, increased work of breathing or the reduced ability to exercise</p>

                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/heart&lungs.jpg" alt="cardio" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Neurological Physiotherapy</h3>
                                    <p> Neurological physiotherapy is used to treat persons who have mobility and function impairments that are caused by issues with the neurological and neuromuscular systems of the body. Muscular weakness, poor balance and coordination, uncontrollable muscle spasms and tremors, loss of function, and diminished sensitivity are common symptoms of these disorders. Neurological physiotherapy can help your brain kick-start communication channels that aren't working and create new ones through repetitive motions and exercises. Many patients who get Neurological Physiotherapy have improvements in symptoms such as loss of balance, hand and arm function, leg and foot function, walking, spasticity, and discomfort. It is a process in which the handicapped person is directly involved in formulating plans and establishing significant and meaningful goals.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/departments-2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Geriatric Physiotherapy</h3>
                                    <p>Geriatric physicaltherapy addresses a wide range of issues that affect the elderly. Many problems affect people as they grow old such as arthritis, osteoporosis, cancer, Alzheimer's disease, hip and joint replacement, balance issues and so on. Physical therapists who specialize in treating such illnesses and ailments are known as geriatric physical therapists. Physiotherapists serve a critical role in allowing older persons to fully utilize a variety of body systems in order to improve mobility and independence. Physiotherapists can make a difference by assisting elderly individuals in remaining pain-free and comfortable.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/geriatric.jpg" alt="geriatric" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Pediatric Physiotherapy</h3>
                                    <p>Pediatric physiotherapy is beneficial in the treatment of prenatal problems, early childhood diagnoses, and childhood injuries as well as the transition to adult care. Pediatric physiotherapy improves physical function and quality of life. Paediatric physiotherapists assist youngsters in reaching their full physical potential.  Soft tissue massage, stretching, specific therapeutic exercises, and posture teaching may be used in the treatment. Because children are  small, therapists encourage children them to move to the best of their abilities through play and age appropriate fun and instruction.</p>

                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/pediatric.jpg" alt="pediatric" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Sports Physiotherapy</h3>
                                    <p>A discipline of physical treatment oriented toward both athletes and casual gamers who have suffered an injury or have an ongoing condition is known as sports physiotherapy. Sports injuries do differ from day-to-day injuries. Athletes typically require high-level performance and demand placed upon their body, which stresses their muscles, joints and bones to the limit. Sports physiotherapists help athletes recover from sporting injuries, and provide education and resources to prevent problems. Whether you're a professional athlete or just getting started in your athletic career, sports physiotherapy may be a good option for you.</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/sports.jpg" alt="sports" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-6">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Orthopedic Physiotherapy</h3>
                                    <p>
                                        The treatment of the complete musculoskeletal system, which includes your bones, muscles, ligaments and tendons, joints, and connective tissue, is covered by orthopedic physiotherapy.Any condition that limits your capacity to move or function physically is treated with orthopedic physiotherapy.It may be used to treat diseases such as arthritis, frozen shoulder, joint discomfort, limited range of motion, back pain, and so on.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/orhopedic.jpg" alt="orthopedic" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-7">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Pre & Post Surgery Rehab</h3>
                                    <p>
                                        Under the direction of a physical therapist, patients can safely prepare for and recover from surgery during pre-surgery rehabilitation. Prior to surgery, physical therapy can assist to minimize discomfort and inflammation. It increases joint mobility and range of motion to help customers prepare for a better surgical outcome. Pre-surgical rehabilitation is a personalized exercise conditioning program that prepares muscles for the workouts that will be required after surgery.Rehabilitation after surgery is essential for restoring pain-free function and returning to regular activities safely and swiftly. Patients are gently eased back into everyday activities and regular exercise with post-operative physical therapy. Our physical therapists do a full post-surgery examination and establish a personalized therapy plan to reduce surgery-related side effects and restore normal mobility, flexibility, and function.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/post-surgical.jpg" alt="surgery" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-8">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Women's Health</h3>
                                    <p>
                                        Women's Well-being Physiotherapy is the care of women in connection to childbirth, both antenatally and postnatally, including the teaching of prenatal classes, the treatment of incontinence, and the care of women following Gynecological surgery. It was created from the clinical field of Obstetrics and Gynecology. Incontinence, pelvic/vaginal pain, and pregnancy and postpartum musculoskeletal pain, as well as osteoporosis, rehabilitation following breast surgery, lymphedema, education prevention, wellness, and exercise, have all been included to the scope of practice. Physical therapy benefits all females throughout their lives, from youthful athletes to pregnant mothers to menopausal and elderly women.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/Physiotherapy/Women'sHealth.jpg" alt="women" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Physiotherapy Section -->
    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors">
        <div class="container">

            <div class="section-title">
                <h2>Doctors</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Medical Officer</span>
                            <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Anesthesiologist</span>
                            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>Cardiology</span>
                            <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="pic"><img src="~/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Neurosurgeon</span>
                            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                            <div class="social">
                                <a href=""><i class="ri-twitter-fill"></i></a>
                                <a href=""><i class="ri-facebook-fill"></i></a>
                                <a href=""><i class="ri-instagram-fill"></i></a>
                                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->
    <!-- ======= Testimonials Section ======= -->
    <!--
    <section id="testimonials" class="testimonials">
        <div class="container">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="~/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    -->
    <!-- End Testimonials Section -->



</main><!-- End #main -->