
@{
    ViewData["Title"] = "LearnMore";
}
<h1 class="text-primary">Learn More</h1>
<div class="entry-content">
    <h3 class="text-primary">Physical Therapy</h3>
    <p>Physical therapy (PT), also known as physiotherapy, is one of the allied health professions. It is provided by physical therapists who promote, maintain, or restore health through physical examination, diagnosis, prognosis, patient education, physical intervention, rehabilitation, disease prevention, and health promotion. Physical therapists are known as physiotherapists in many countries.</p>
   
    <p>Physiotherapy treatment refers to a therapeutic procedure, which is concerned with rehabilitation of individuals after suffering from a trauma. It is generally concerned with restoring, maintaining and maximizing the functionality, movement and strength of the individual.</p>
    
    <p>There are a number of therapies used in the treatment. Therapeutic physiotherapy includes electrotherapy techniques, manual therapy procedures or different sort of exercise programs. Physiotherapy treatment also includes joint mobilization techniques such as muscle stretching, massage, acupuncture and trigger point therapy.</p>
    <br />
    <h3 class="text-primary">Physiotherapy at home </h3>
    <p>Availing physiotherapy at home is quite normal nowadays. It is particularly useful in conditions in which the condition of the patient is quite serious or it is not possible for the patient to travel to a physiotherapy clinic. In such situations the physiotherapist visits the home of the patient for the purpose of diagnosis and treatment. Everything, starting from discussions related to different issues concerning the health of the patient and objectives of treatment to the actual physiotherapy treatment process are all carried out in your home.</p>
    <p>There are a number of benefits related to availing physiotherapy at home:</p>
    <ul>
        <li><h5 class="text-primary">Cost Effectiveness-</h5> Though some physiotherapists tend to charge more for providing their services at home, it is still cost effective in comparison to visiting a physiotherapy center. It is mainly because your travel costs are saved. Moreover, your travel might require an ambulance depending upon your condition. Such costs can be avoided if you avail physiotherapy at home.<br /><br /></li>
        <li><h5 class="text-primary">Time management-</h5> A lot of time can be saved by opting for physiotherapy at home. Also, time plays an important role in treating conditions like acute pain and stress. Thus, treatment at home helps a lot.<br /><br /></li>
        <li><h5 class="text-primary">Supervision-</h5> Availing for physiotherapy treatment at home helps the patient and his/her family to keep track of the treatment process and to ensure that the patient is getting proper physiotherapy care or not.<br /><br /></li>
        <li><h5 class="text-primary">Comfort of home-</h5> The environment at home is considered to be more comfortable for a patient as compared to the environment of the clinic. Presence of family members during the treatment process helps to boost the morale of the patient and contributes to the speedy recovery of the patient.<br /><br /></li>
        <li><h5 class="text-primary">Personalized treatment-</h5> Availing physiotherapy treatment at home means you get to discuss your problem in details with the doctor. You can also coordinate with your physiotherapist depending on your current condition.<br /><br /></li>
        <li><h5 class="text-primary">Increased scope of treatment-</h5> Opting for a private physiotherapist at home also tends to increase the scope of the treatment process. Generally, in a clinic, a large number of patients are present and the physiotherapist is not able to devote enough time towards each patient. Thus, opting for physiotherapy care at home helps the physiotherapist to give enough attention to an individual patient which in turn helps in better recovery of the patient.<br /></li>
    </ul>
    <p>Thus, it is quite evident that physiotherapy has a lot of advantages, especially when it is done at home. It also helps in the treatment of a number of conditions and helps in providing dedicated attention to a particular individual and boost his/her recovery. But the importance of consulting your doctor before availing physiotherapy services at home cannot be stressed enough.</p>
</div>
