@model HomePhysio.Models.PatientModel







    <div class="justify-content-center" ng-controller="HomeController" data-ng-init="AppointmentList(@Model.PatientId)">
       <div class="bg-primary"style="height:50px; text-align:center"><h3 class="text-white text-center" style="padding:10px"><strong>My appointments</strong></h3></div> 
        <br />
        <div>
            <p class="text-justify text-danger"><strong>Pls fulfill your payment after approval from the therapists to book the appointment.We would like to inform you that cancelation of the appointment on the day of your appointment will be refunded only 70% of your payment.</strong></p>
        </div>
        <br />
        <br />
            <div class="container-fluid">
            <table class="table table-responsive" style="box-shadow: 0 0 0 5px rgba(0,0,0,0.05)" >
                <thead>
                    <tr class="bg-info">
                        <th>Name of therapist</th>
                       <th>Date</th>
                       <th>Time</th>
                       <th>Response</th>
                      <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-info" ng-repeat="x in appoint">
            <td>{{x.physiotherapist}}</td>
            <td>{{x.date}}</td>
            <td>{{x.time}}</td>
            <td>
                {{x.status}}
                <!--if (== "Pending"){

    <strong class="text-success">Confirmed</strong>
        <strong class="text-danger">Denied</strong>
    <strong class="text-secondary">Pending</strong>
    }-->
            </td>
                        <td><button class="btn btn-danger">Cancel</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @section scripts{


        <script src="~/AngularServices/Controller/HomeController.js" asp-append-version="true"></script>
    }
