@model HomePhysio.Models.PhysiotherapistModel

<div ng-controller="HomeController" ng-init="PhysioAppointmentList(@Model.PhysiotherapistId)">

    <!--Appointment list viewed by physio-->
    <div clss="container-fluid">

        <div class="bg-primary" style="height:50px; text-align:center"><h3 class="text-white text-center" style="padding:10px"><strong>My appointments</strong></h3></div>
        <br />
        <br/>
        <input asp-for="PhysiotherapistId" hidden />
        <table class="table table-responsive" style="box-shadow: 0 0 0 5px rgba(0,0,0,0.05)" >


            <thead>
                <tr class="bg-info">
                    <th>Name of patient</th>
                    @*<th>Address</th>
                    <th>Contact no.</th>
                    <th>Email</th>
                    <th>Total Charge</th>
                    <th>Response</th>*@
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-info" ng-repeat="x in Physioappoint">

                    <td>{{x.patientName}}</td>
                    <td>{{x.date}}</td>
                    <td>{{x.time}}</td>
                    <td>
                        {{x.status}}

                    </td>
                    <td>

                        @*<button onclick="window.location.reload();">Reload Page</button>*@
                        <button ng-click="ConfirmAppointment(x.appointmentId,@Model.PhysiotherapistId)" ng-show="x.status=='Pending'" class="btn btn-success btn-sm" >Confirm</button>  
                        <button class="btn btn-danger btn-sm" ng-click="CancelAppointment(x.appointmentId,@Model.PhysiotherapistId)" ng-show="x.status!=='Cancel'" >Cancel</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

@section scripts{


    <script src="~/AngularServices/Controller/HomeController.js" asp-append-version="true"></script>
}

