
<!--@{
    ViewData["Title"] = "Create";
}

<br />-->
<!--filter-->
<!--<h2 class="text-primary">Filter by</h2>
<div class="container">

    <button type="button" class="btn btn-outline-primary btn-sm ">All</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">General</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Pediatric</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Geriatric</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Orthopedic</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Cardiovascular/Pulmonary</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Neurological</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Women's Health</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Pre & Post Surgery Rehab</button>
    <button type="button" class="btn btn-outline-primary btn-sm ">Sports</button>

</div>






<br />-->

<!--info/media objs-->
<!--<div class=" jumbotron ">
    <div class="container">
        <div class="media">
            <img class="align-self-start mr-3" src="~/img/Profile pic/PP.png" alt="PP" height="100" width="100">
            <div class="media-body">
                <h5 class="mt-0">Dr. Ranjila Shrestha</h5>
                <p class="p-0">Specialization:Orthopedic</p>
                <p class="p-0">Experience:5yrs</p>
                <p class="p-0">Consultation fee:Rs.500</p>
                <p class="p-0">Ratings:4.5</p>
                <a asp-controller="Appointment" asp-action="Physio_info" class="btn btn-primary">See profile</a>
                <a asp-controller="Appointment" asp-action="Book_appointment" class="btn btn-primary">Book Appointment</a>
                <br />
            </div>
        </div>
    </div>
</div>-->







