
@{
    ViewData["Title"] = "FAQ";
}

<br />
<br />
<br />

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <h6>There may me some qustions in your mind about our services.These answers will make you clear about our service.</h6>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What does an in-home physio session actually involve? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Your physiotherapist will do a thorough examination before beginning a personalized treatment plan.
                            All physiotherapy treatments are totally suited to the patient's specific needs, and may involve the following:

                            • manual treatment to relieve pain and increase flexibility and mobility

                            • Exercise routines at home

                            • the application of electrotherapeutic therapies (ultrasound, interferential current, TENS)

                            We're also committed to educating and empowering our clients so that they can take charge of their health and mobility.

                            • We demonstrate how to use mobility aids like canes and walkers safely and successfully.

                            • We inform our clients about their illnesses and offer advice on correct posture, ergonomics, and home safety.


                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">When should you hire a home physiotherapist? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            It is dependent on the patient's health and convenience. In rare situations, it is the only realistic alternative for the patient, such as a post-stroke patient with balance difficulty or paralysis; however, if the issue is minor and you can visit
                            a local clinic without skipping sessions, there is no harm in visiting a clinic. In addition, for patients with limited time, physiotherapy at home might be a time-saving choice.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Who would be the best physiotherapist for me?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            According to your health state and symptoms, the system will recommend a physiotherapist to you. You may also pick a physiotherapist manually based on your timetable, consultation cost, and location.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Is it possible for me to conduct exercises on my own? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Yes, if a physiotherapist recommends that you practice exercises on your own, you should do so. Sometimes, during therapy, the physio will do exercises that you are expected to undertake on your own without the supervision of a physio. The reason for
                            recommending self-exercises is that they speed up recuperation and provide pain relief. Patients may also reference YouTube videos or online fitness plans, although this is generally discouraged.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Is a doctor's prescription required?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            No, you are not required to receive the physiotherapy treatment recommended by your doctor. In certain situations, a doctor may recommend physiotherapy to a patient, which is beneficial, but we also ensure that our physiotherapist assesses the
                            patient, allowing him or her to identify the problem and begin treatment appropriately. Our goal is to provide the safest and most effective patient-centered treatment available.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Is it preferable to receive therapy at a clinic or at home?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            When a patient's mobility is a problem, they may have little choice but to get physiotherapy at home. In other circumstances, it is up to the patient to decide whether he wants his therapy done at home or in a clinic. However, in some cases, treatment necessitates
                            the use of specialized equipment that is only available at the clinic, so it is preferable for patients to visit the clinic for better results. A senior physiotherapist is also on hand at the clinic to keep an eye on the patients who are receiving therapy. However,
                            if a patient prefers to get treatment at home and simply requires manual therapy or portable devices, we may provide home care physiotherapy.  In most cases, long-term therapy are required. If you are unsure if you will be able to visit the clinic on a regular basis,
                            you might consider using a home care service.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">How long does each session last?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            The session usually lasts 30-45 minutes, however it can be extended to an hour or 90 minutes if the therapy is required for a longer period of time. In a few circumstances where a patient is experiencing severe/multiple difficulties, the session time is usually extended.
                            After the patient has been assessed, our specialist can choose the duration of the session. Please keep in mind that the prices listed on our website are for a 30-45 minute session. Charges will be greater for sessions that go longer.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed"> How many sessions are required and at what intervals?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            There is no set amount of sessions for a certain ailment because it is entirely dependent on the patient's condition. If the problem is minor, our specialist may recommend a few sessions, however in more serious instances (neuro-related, post-surgery, elderly care, and so on),
                            sessions are normally longer. Our physiotherapist will discuss the treatment plan with you. This might include suggestions for the approximate number of sessions you'll need.
                            Our expert will also discuss the frequency of the sessions. If missing sessions doesn't affect the therapy process, a patient can attend treatment sessions on a daily or alternating basis.

                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed"> What are the fees associated with physiotherapy?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                        <p>

                            The standard consultation fee varies between Rs.500 and Rs.1000, depending on the therapist's expertise and the distance between you and your therapist.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">What methods of payment are accepted?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Khalti is a payment gateway that we accept.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed">Will you submit bills for reimbursement from the insurance company?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            We will send you a softcopy of your payment through email. Before making an appointment, we will also show you the entire cost due.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-12" class="collapsed">How do you handle cancellations and refunds?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-12" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            If you cancel your appointment within 3 hours of the scheduled time, we will reimburse your payment; otherwise, you will be charged just the travel cost.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-13" class="collapsed">Do you plan on bringing your kit?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-13" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Yes, depending on your illness and treatment plan, we come completely prepared with all required treatment instruments, such as ultrasound machines and physiotherapy equipment.

                        </p>
                    </div>
                </li>

             

            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->
